name: Lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint-and-format:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v5

      - name: Set up Python
        uses: actions/setup-python@4f41a90a1f38628c7ccc608d05fbafe701bc20ae # v6
        with:
          python-version: '3.11'

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Cache UV dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/uv
            %LOCALAPPDATA%\uv\cache
          key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-uv-
      - name: Install dependencies
        run: make install-dev

      - name: Lint and type check
        run: make lint

  licenses:
    name: Check License Headers
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v5

      - name: Verify license headers
        run: |
          for fn in $(find . -type f -name "*.py"); do
            if ! head -5 "$fn" | grep -q "^ *# .* License\(d*\)"; then
              echo "::error file=$fn::${fn} is missing a license header"
              exit 1
            fi
          done
  all-lints-pass:
    if: always()
    needs:
      - lint-and-format
      - licenses
    runs-on: ubuntu-latest
    steps:
      - name: Check all linting jobs passed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
